<sidenav></sidenav>

<md-grid-list md-cols="6" md-row-height="2:2" md-gutter="0" id="grid">
    <md-grid-tile md-colspan="6" md-rowspan="6" id="section-header">
        <div layout="column" layout-align="center none">
            <img src="images\business-card.png" class="md-card-image" alt="image caption" />
            <div class="content">
                <div class="md-subhead">PolySoft HackHarvard Edition</div>
                <div class="md-caption">Swiftly exchange your business information</div>
                <div layout="row" layout-align="center center" id="search">
                    <md-icon flex="10" md-svg-icon="fonts/icons/search.svg"></md-icon>
                    <md-input-container flex="90" class="md-block">
                        <input name="search" ng-model="vm.search">
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>
<md-toolbar>
    <h2 class="md-toolbar-tools">
        <span>Nearby events</span>
    </h2>
</md-toolbar>
<md-content>
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard 2016</h3>
                <h4>10 feet away</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HarvardLaw Games</h3>
                <h4>0.9 miles away</h4>
                <p>You'll get Litt up</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>Boston Tea Party</h3>
                <h4>3.5 miles away</h4>
                <p>Arrrrr!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
<md-toolbar>
    <h2 class="md-toolbar-tools">
        <span>Upcoming events</span>
    </h2>
</md-toolbar>
<md-content>
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3>HackHarvard</h3>
                <h4>Started 20 hours ago</h4>
                <p>Hack the past!</p>
            </div>
            <md-button class="md-secondary">View</md-button>
            <md-divider></md-divider>
        </md-list-item>

    </md-list>
</md-content>