.svg-icon-accent path {
  fill: #a31982;
}

#section-header img
{
    padding: 8px;
    height: 200px;
    height: 200px;
}

#section-header .content
{
    text-align:center;
}

.md-sidenav-left .nav-header
{
    background-color: #3F51B5;
}

.md-sidenav-left md-list
{
    padding-top: 0;
}

.md-sidenav-left md-list md-icon
{
    margin: 0;
}

md-content .ext-content 
{
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

img.profile-picture 
{
    border-radius: 10%;
}

#welcome #header
{
    text-align: center;
}


md-input-container.md-default-theme label,   
md-input-container.md-default-theme .md-placeholder {  
    color: #FFF2E0 !important; 
}

#welcome md-input-container
{
    margin: 35px 0 15px 0 !important;
}

#welcome .preview,
img.profile-picture 
{
    max-height: 600px;
    max-width: 300px;
}

.medium-margin
{
    margin: 20px 0 20px 0 !important;
}