<div md-colors="{background: 'primary'}">
    <sidenav></sidenav>

    <md-grid-list md-cols="6" md-row-height="2:2" md-gutter="0" id="profile">
        <md-grid-tile md-colspan="6" md-rowspan="5" id="section-header">
            <div layout="column" layout-align="center none">
                <img ng-src={{vm.logo}} class="md-card-image profile-picture" alt="image caption" />
                <div class="content">
                    <div class="md-title">{{vm.name}}</div>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="space-between center">
        <md-nav-item md-nav-click="goto('cards')" name="cards">Cards</md-nav-item>
        <md-nav-item md-nav-click="goto('events')" name="events">Events</md-nav-item>
        <md-nav-item md-nav-click="goto('settings')" name="settings">Settings</md-nav-item>
    </md-nav-bar>
    <div class="ext-content" ng-show="vm.currentNavItem == 'cards'">
        <section>
            <md-content>
                <md-subheader md-colors="{color: 'accent-900'}">My cards</md-subheader>
                <md-list>
                    <md-list-item ng-repeat="card in vm.cards" class="md-3-line" md-ink-ripple="#3F51B5" ng-click="vm.navigate('/businessCard?id=', $index)">
                        <div class="md-list-item-text">
                            <h3>{{card.Name}}</h3>
                            <p>From {{card.Company}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            <md-subheader md-colors="{color: 'accent-900'}">Cards received</md-subheader>
            </md-content>
        </section>
    </div>
    <div class="ext-content" ng-show="vm.currentNavItem == 'events'">
        <md-subheader md-colors="{color: 'accent-900'}">Registered events</md-subheader>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="event in vm.events" class="md-3-line" md-ink-ripple="#3F51B5" ng-click="navigate('/Home')">
                    <div class="md-list-item-text">
                        <h3>{{event.EventName}}</h3>
                        <h4>{{event.Address}}</h4>
                        <p>{{event.CardList.length}} participants</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <md-subheader md-colors="{color: 'accent-900'}">Hosted events</md-subheader>
    </div>
    <div class="ext-content" ng-show="vm.currentNavItem == 'settings'">
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" md-ink-ripple="#3F51B5" ng-click="navigate('/Home')">
                    <div class="md-list-item-text">
                        <h3>Change profile picture</h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" md-ink-ripple="#3F51B5" ng-click="navigate('/Home')">
                    <div class="md-list-item-text">
                        <h3>Change username</h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line" md-ink-ripple="#3F51B5" ng-click="vm.deleteProfile()">
                    <div class="md-list-item-text">
                        <h3>Delete account</h3>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>